<h3>Edit or Delete current Volunteer</h3>
<form action="/projects/<%= @project.id %>/volunteers/<%= @volunteer.id %>" method="patch">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Update Volunteer Name from <%= @volunteer.name %> </label>
  <input id="name" name="name" type="text" value="<%= @volunteer.name %>">
  <button type="submit">Update Volunteer</button>
</form>

<form action="/projects/<%= @project.id %>/volunteers/<%= @volunteer.id %>" method="delete">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete volunteer</button>
</form>

<a href="/projects">Back to project list</a>
